login/src/main/resources/wsdl/proveedor.wsdl

<wsdl:definitions name="proveedor" targetNamespace="http://local/proveedor/v1" xmlns:serv="http://local/proveedor/v1" xmlns:p1="http://local/proveedor/service" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
	<wsdl:documentation></wsdl:documentation>
	<wsdl:types>
		<xsd:schema targetNamespace="http://local/proveedor/v1" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
			<xsd:import namespace="http://local/proveedor/service" schemaLocation="proveedor.xsd">
			</xsd:import>
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="loginRequest">
		<wsdl:documentation></wsdl:documentation>
		<wsdl:part name="loginReq" element="p1:loginRequest"/>
	</wsdl:message>
	<wsdl:message name="loginResponse">
		<wsdl:documentation></wsdl:documentation>
		<wsdl:part name="loginResp" element="p1:loginResponse"/>
	</wsdl:message>
	<wsdl:message name="resgisterDevicesRequest">
		<wsdl:documentation></wsdl:documentation>
		<wsdl:part name="resgisterDevicesReq" element="p1:resgisterDevicesRequest"/>
	</wsdl:message>
	<wsdl:message name="resgisterDevicesResponse">
		<wsdl:documentation></wsdl:documentation>
		<wsdl:part name="resgisterDevicesResp" element="p1:resgisterDevicesResponse"/>
	</wsdl:message>

	<wsdl:portType name="proveedor">
		<wsdl:documentation>.</wsdl:documentation>
		<wsdl:operation name="loging">
			<wsdl:documentation></wsdl:documentation>
			<wsdl:input name="loginRequest" message="serv:loginRequest"/>
			<wsdl:output name="loginResponse" message="serv:loginResponse"/>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:portType name="proveedor">
		<wsdl:documentation>.</wsdl:documentation>
		<wsdl:operation name="resgisterDevices">
			<wsdl:documentation></wsdl:documentation>
			<wsdl:input name="resgisterDevicesRequest" message="serv:resgisterDevicesRequest"/>
			<wsdl:output name="resgisterDevicesResponse" message="serv:resgisterDevicesResponse"/>
		</wsdl:operation>
	</wsdl:portType>

	<wsdl:binding name="proveedorBinding" type="serv:proveedor">
		<wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"/>
		<wsdl:operation name="loging">
			<wsdlsoap:operation soapAction="http://localhost/proveedor/v1/loging"/>
			<wsdl:input name="loginRequest">
				<wsdlsoap:body parts="loginReq" use="literal"/>
			</wsdl:input>
			<wsdl:output name="loginResponse">
				<wsdlsoap:body parts="loginResp" use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="resgisterDevices">
			<wsdlsoap:operation soapAction="http://localhost/proveedor/v1/resgisterDevices"/>
			<wsdl:input name="resgisterDevicesRequest">
				<wsdlsoap:body parts="resgisterDevicesReq" use="literal"/>
			</wsdl:input>
			<wsdl:output name="resgisterDevicesResponse">
				<wsdlsoap:body parts="resgisterDevicesResp" use="literal"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>

	<wsdl:service name="proveedor">
		<wsdl:port binding="serv:proveedorBinding" name="proveedor">
			<wsdlsoap:address location="http://local/proveedor/v1"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>